/*header*/
header{
    width: 100%;
}
.active a{
    color: #ff4444;
}
header .top{
    margin-bottom:1rem;
    line-height: 3rem;
    padding: 0 11%;
    color: #222222;
    background-color:#f5f5f5;
    border-bottom: 1px solid #dcdcdc;
}
header .top .welcome{
    float: left;
}
nav.top .left>.hidden>ul>li{
    width:7rem;
    margin-left: -1.5rem;
}
nav.top .right>.hidden>ul>li{
    width:7rem;
    margin-left: 1rem;
}
section.search-part{
    padding: 0 11%;
    margin: 1rem 0;
}
section.search-part .search-block{
    display: inline-block;
    margin-top: -2rem;
}
section.search-part #QG1{
    float: right;
    margin-top: 1rem;
}
.search-block .search-input{
    margin: 0.5rem 0;
    width: 60rem;
    height: 3rem;
    border:2px solid #ff4444;
    border-radius: 2px;
    font-size: 1.5rem;
    text-indent: 1rem;
    outline: none;
}
.search-block .search-button{
    background-color: #ff4444;
    box-shadow: none;
    height: 3.6rem;
    width: 8rem;
    color: #f7f7f7;
    font-size: 1.5rem;
    outline: none;
    border-radius: 2px;
    border: none;
    margin-left: -0.5rem;
    margin-top: -0.1rem;
    cursor: pointer;
}
.search-block .search-button:hover{
    box-shadow: 1px 1px 1px #ccc;
    background-color: #F24141;
}
.search-block .hot>li{
    margin-right: 1rem;
}
header nav.main{
    padding: 0 11%;
    border-bottom:1px solid #666666;
    font-size: 2rem;
}
header nav.main>ul>li{
    padding: 1rem 0;
}
header nav.main>ul.separateul>li:before{
    margin: 0 2.5rem 0 2rem;
}
nav.main .active{
    position: relative;
}
nav.main .active:after{
    content: " ";
    display: block;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ff4444;
    width: 8rem;
    position: absolute;
    margin-top: 0.9rem;
    margin-left: 3rem;
}

/*contain*/
.container{
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 20rem;
}
.container>.info{
    border: 1px solid #c0c0c0;
    width: 16%;
}
.container>.info>.name{
    font-size: 1.5rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
    padding: 1rem 1.5rem;
}
.container>.info>.detail{
    margin: 0 1.5rem;
    border-bottom: 1px solid #dcdcdc;
}
.container>.info>.contact{
    padding:0 1.5rem;
}
.container>.info>.contact>p>span{
    vertical-align: top;
}
.container>.info>.contact>p.multiline>span+span{
    display: inline-block;
    width: 13rem
}
.container>.panel{
    width: 82%;
}
.container>.panel>.display{
    border:1px solid #dcdcdc;
    padding: 1.5rem;
}
.container>.panel>.display img{
    margin: 1.45%;
    width: 30%;
}
.container>.panel>ul>li{
    width: 11rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
}
.container>.panel>ul>li.active{
    border: 1px solid #dcdcdc;
    border-bottom: hidden;
}
.container>.panel>ul>li.active:after{
    content: ' ';
    display: block;
    position: absolute;
    width: 11rem;
    height: 2px;
    background-color: white;
}

/*footer*/
.nav-bottom{
    padding: 3.5rem 11%;
    border-top: 1px solid #666666;
}
footer>.nav-bottom>img{
    margin-right: 5rem;
}
footer>.nav-bottom>ul{
    margin: 0 4%;
}
footer>.nav-bottom>ul>li:first-child{
    font-size: 2rem;
    font-weight: bold;
}
footer>.nav-bottom>ul>li{
    margin: .5rem 0;
}
footer .qg2{
    float: left;
    background: url("../images/QG_02.jpg") no-repeat;
    background-size:100% 100%;
    width: 10rem;
    height: 10rem;
    margin-left: -3.5rem;
    margin-top: 1rem;
}
footer .qg-text>li i{
    font-size:2rem ;
}
footer>p{
    background-color: #f5f5f5;
    text-align: center;
    height: 2rem;
    margin: 0;
}
