/*header*/
.wrap{
    width: 1200px;
}
header{
    width: 100%;
}
.active a{
    color: #ff4444;
}
header .top{
    margin-bottom:10px;
    line-height: 30px;
    padding: 0 11%;
    color: #222222;
    background-color:#f5f5f5;
    border-bottom: 1px solid #dcdcdc;
}
header .top .welcome{
    float: left;
}
nav.top .left>.hidden>ul>li{
    width: 80px;
    margin-left: -15px;
}
nav.top .right>.hidden>ul>li{
    width: 80px;
    margin-left: 10px;
}
section.search-part .search-block{
    display: inline-block;
    margin-top: -20px;
}
section.search-part #QG1{
    float: right;
    margin-top: 10px;
}
.search-block .search-input{
    margin: 5px 0;
    width: 540px;
    height: 40px;
    border:2px solid #ff4444;
    border-radius: 2px;
    font-size: 15px;
    text-indent: 10px;
    outline: none;
}
.search-block .search-button{
    background-color: #ff4444;
    box-shadow: none;
    height: 45px;
    width: 100px;
    color: #f7f7f7;
    font-size: 15px;
    outline: none;
    border-radius: 2px;
    border: none;
    margin-left: -5px;
    cursor: pointer;
    vertical-align:baseline;
}
.search-block .search-button:hover{
    box-shadow: 1px 1px 1px #ccc;
    background-color: #F24141;
}
.search-block .hot>li{
    margin-right: 10px;
}
header nav.main{
    padding: 0 11%;
    border-bottom:1px solid #666666;
    font-size: 16px;
}
header nav.main>ul>li{
    padding: 10px 0;
}
header nav.main>ul.separateul>li:before{
    margin: 0 25px 0 20px;
}
nav.main .active{
    position: relative;
}
nav.main .active:after{
    content: " ";
    display: block;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ff4444;
    width: 80px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

/*contain*/
.container{
    margin-top: 30px;
    margin-bottom: 200px;
}
.container .info{
    border: 1px solid #c0c0c0;
    width: 222px;
}
.container .info>.name{
    font-size: 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 15px;
}
.container .info>.detail{
    margin: 0 15px;
    border-bottom: 1px solid #dcdcdc;
}
.container .info>.contact{
    padding:0 15px;
}
.container .info>.contact>p>span{
    vertical-align: top;
}
.container .info>.contact>p.multiline>span+span{
    display: inline-block;
    width: 130px;
}
.container .panel{
    width: 957px;
}
.container .panel>.display{
    border:1px solid #dcdcdc;
    padding: 15px;
}
.container .panel>.display a.prod-img{
    display: inline-block;
    margin: 22px;
    width: 259px;
}
.container .panel>ul>li{
    width: 96px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    position: relative;
}
.container .panel>ul>li.active{
    border: 1px solid #dcdcdc;
    border-bottom: hidden;
}
.container .panel>ul>li.active:after{
    content: ' ';
    display: block;
    position: absolute;
    width: 96px;
    height: 2px;
    background-color: white;
}

/*footer*/
.nav-bottom{
    padding: 3.535px;
    border-top: 1px solid #666666;
}
footer .nav-bottom img{
    margin-right:41px;
}
footer .nav-bottom ul{
    margin: 0 41px;
}
footer .nav-bottom ul>li:first-child{
    font-size: 20px;
    font-weight: bold;
}
footer .nav-bottom ul>li{
    margin: 5px 0;
}
footer .qg2{
    float: left;
    background: url("../images/QG_02.jpg") no-repeat;
    background-size:100% 100%;
    width: 124px;
    height: 124px;
    margin-left: -35px;
    margin-top: 10px;
}
footer .qg-text>li i{
    font-size: 20px ;
}
footer p{
    background-color: #f5f5f5;
    text-align: center;
    height: 20px;
    margin: 0;
}
